.App {
  text-align: center;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.App-header {
  background: #40a9ff;
  position: fixed;
  height: 40px;
  overflow: hidden;
  width: 100%;
  display: flex;
  z-index: 2;
  align-items: center;
}

.App-container {
  display: flex;
  height: 100%;
  margin-top: 40px;
}

.App-navigation {
  min-width: 110px;
  width: 100%;
}

.App-navigation .ant-tabs-bar.ant-tabs-left-bar{
  position: fixed;
  overflow: hidden;
  width: 120px;
}

.App-navigation .ant-tabs-content {
  margin-left: 120px;
}

.App-content {
  flex: 1;
}

.App-content-detail {
  height: 100%;
}

.App-nav {
  height: 40px;
  position: fixed;
  overflow: hidden;
  top: 0;
  z-index: 1;
  background: red;
  width: 100%;
}

.App-header-symbol {
  /* width: 200px; */
}

