.App {
  text-align: center;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.App-header {
  background: green
}

.App-container {
  display: flex;
  height: 100%;
}

.App-navigation {
  background: lightblue;
  min-width: 110px;
}

.App-content {
  flex: 1;
}

.App-content-detail {
  height: 100%;
}