.Financial {
    display: flex;
}

.Financial-left-container {
    width: 800px;
    margin-right: 20px;
}

.Financial-right-container {
    flex: 1;
    margin-right: 20px;
}

.Financial-revenue {
    margin-bottom: 20px;
}

.Financial-revenue-chart {
    display: flex;
    margin-top: 40px;
}

.Financial-revenue-quarter-chart-container {
    width: 400px;
    height: 400px;
}

.Financial-revenue-year-chart-container {
    width: 400px;
    height: 400px;
}

.Financial-criteria .row {
    width: 100%;
}

.Financial-reports {
    /* width: 800px; */
}