.Transaction {
    display: flex;
}

.Transaction-left-container {
    width: 700px;
}

.Transaction-right-container {
    flex: 1;
}

.Transaction-chartTV {
    /* height: 400px; */
    width: 700px;
}

.Transaction-summary {
    display: flex;
    flex-direction: column;
}

.Transaction-summary .row {
    width: 100%;
}

.Transaction-summary .row > div {
    width: 50%;
}

.Trasaction-order-statistic {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

.Trasaction-order-statistic > div {
    width: 100%;
}